@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 7px;
  @apply bg-slate-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-500 rounded-full;
}

.side-space {
  @apply px-4 480:px-5 576:px-6 sm:px-10 md:px-14 lg:px-20 xl:px-28;
}

.loader {
  width: 24px;
  height: 24px;
  border: 2.5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
